@use 'navbar';
@use 'breakpoints';

main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@include breakpoints.medium {
  main {
    width: 80%;
  }
}

@include breakpoints.extra-large {
  main {
    width: 60%;
  }
}
