@use 'navbar';
@use 'form';
@use 'table';
@use 'chart';
@use 'footer';

@use 'colors';

main {
  background-color: colors.$main-bg;
  border-top: 2px solid colors.$main-top-border;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

body {
  background: colors.$body-bg-gradient;
  background-repeat: no-repeat;
}
