$primary: #165b89;
$primary-dark: #0f4061;
$primary-light: #4f85a8;
$secondary: #70a288;
$contrast: white;
$body-bg-gradient: linear-gradient(#d2deee, #ffffff);
$main-bg: $contrast;
$main-top-border: $secondary;
$navbar-bg: linear-gradient(90deg, $primary-dark, $primary);
$navbar-fg: $contrast;
$footer-bg: linear-gradient(90deg, $primary-dark, $primary);
$footer-fg: $contrast;
$navbar-item-hover-bg: $contrast;
$navbar-item-hover-fg: $primary-dark;
$table-even-rows-bg: #f5f5f5;
$table-border: black;
$chart-bars-fill: $secondary;
$chart-boxplot-box-fill: $secondary;
