@use 'colors';

nav {
  background-color: colors.$color-1;
  border-bottom: 2px solid colors.$color-2;
}

nav > ul > li > a {
  text-decoration: none;
  color: colors.$color-2;
}

nav > ul > li.nav-header > a {
  font-size: large;
  font-weight: bolder;
}

nav > ul > li.nav-header > a:hover {
  background-color: colors.$color-1;
  color: colors.$color-2;
}

nav > ul > li > a:hover {
  background-color: colors.$color-2;
  color: colors.$color-1;
}

nav > ul > li > a.active {
  text-decoration: underline;
}

nav > ul > li > a.active:hover {
  color: colors.$color-1;
}
