@use 'colors';

nav {
  background: colors.$navbar-bg;
  border-bottom: 2px solid colors.$navbar-fg;
}

nav > ul > li.nav-header > a > svg {
  fill: colors.$contrast;
}

nav > ul > li > a {
  text-decoration: none;
  color: colors.$navbar-fg;
}

nav > ul > li.nav-header > a {
  font-size: large;
  font-weight: bolder;
}

nav > ul > :not(li.nav-header) > a:hover {
  background-color: colors.$navbar-item-hover-bg;
  color: colors.$navbar-item-hover-fg;
}

nav > ul > li > a.active {
  text-decoration: underline;
}

nav > ul > li > a.active:hover {
  color: colors.$navbar-item-hover-fg;
}
