<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Backup & Restore')"></head>
<body>
    <nav th:replace="fragments/nav.html :: nav(page='backup-restore')"></nav>
    <main>
        <h1>Backup & Restore</h1>

        <p th:if="${message != null}" th:text="${message}" class="flash"></p>

        <div class="form-container">
            <fieldset>
                <legend>Backup</legend>

                <form th:action="@{/download-backup}" method="get">
                    <p class="field">
                        <input type="submit" value="Download Backup" />
                    </p>
                </form>
            </fieldset>

            <fieldset>
                <legend>Restore</legend>
                <form th:action="@{/restore-backup}" method="post" th:object="${restoreForm}" enctype="multipart/form-data">
                    <p class="field">
                        <label for="backupFile">JSON File</label>
                        <input type="file" id="backupFile" name="backupFile" th:field="*{backupFile}" accept="application/json" />
                    </p>

                    <input type="submit" value="Restore" />
                </form>
            </fieldset>
        </div>

    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>

    <!-- Prevents Chrome from triggering CSS transitions on page load. See https://stackoverflow.com/a/42969608 -->
    <script> </script>
</body>
</html>
