<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Home')"></head>
<body>
    <nav th:replace="fragments/nav.html :: nav(page='index')"></nav>
    <main>
        <h1>Home</h1>

        <table>
            <thead>
                <tr>
                    <th>Applied at</th>
                    <th>Removed at</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry : ${entries}">
                    <td data-label="Applied at" th:text="${entry.appliedAt()}"><span th:text="${entry.appliedAt()}"></span></td>
                    <td data-label="Removed at" th:text="${entry.removedAt()}"><span th:text="${entry.removedAt()}"></span></td>
                    <td data-label="Amount" th:text="${entry.amount()}"><span th:text="${entry.amount()}"></span></td>
                </tr>
            </tbody>
        </table>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>
</html>