<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Record')}"></head>
<body>
    <nav th:replace="~{fragments/nav.html :: nav(page='record')}"></nav>

    <main>
        <h1>Record</h1>

        <p th:if="${message != null}" th:text="${message}" class="flash"></p>

        <form th:action="@{/record}" method="post" th:object="${recordForm}">
            <fieldset>
                <legend>Applied at</legend>

                <p>
                    <span class="field">
                        <label for="appliedDate">Date</label>
                        <input type="date" id="appliedDate" name="appliedDate" required pattern="\d{4}-\d{2}-\d{2}"
                               title="yyyy-mm-dd" th:field="*{appliedDate}" />
                    </span>

                    <span class="field">
                        <label for="appliedTime">Time</label>
                        <input type="time" id="appliedTime" name="appliedTime" required pattern="\d{2}:\d{2}"
                               title="hh:mm" th:field="*{appliedTime}" />
                    </span>
                </p>

                <ul th:if='${#fields.hasErrors("appliedDate")}' class="validation-errors">
                    <li th:each='err : ${#fields.errors("appliedDate")}' th:text="${err}"></li>
                </ul>
            </fieldset>

            <fieldset>
                <legend>Removed at</legend>

                <p>
                    <span class="field">
                        <label for="removedDate">Date</label>
                        <input type="date" id="removedDate" name="removedDate" required pattern="\d{4}-\d{2}-\d{2}"
                               title="yyyy-mm-dd" th:field="*{removedDate}" />
                    </span>

                    <span class="field">
                        <label for="removedTime">Time</label>
                        <input type="time" id="removedTime" name="removedTime" required pattern="\d{2}:\d{2}"
                               title="hh:mm" th:field="*{removedTime}" />
                    </span>
                </p>

                <ul th:if='${#fields.hasErrors("removedDate")}' class="validation-errors">
                    <li th:each='err : ${#fields.errors("removedDate")}' th:text="${err}"></li>
                </ul>
            </fieldset>

            <p class="field">
                <label for="amount">Amount</label>
                <input type="number" id="amount" name="amount" min="1" required th:field="*{amount}" />
            </p>

            <ul th:if='${#fields.hasErrors("amount")}' class="validation-errors">
                <li th:each='err : ${#fields.errors("amount")}' th:text="${err}"></li>
            </ul>

            <input type="submit" value="Add" />
        </form>
    </main>
    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

    <!-- Prevents Chrome from triggering CSS transitions on page load. See https://stackoverflow.com/a/42969608 -->
    <script> </script>
</body>
</html>