<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(page)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${page} + ' — Prilla'"></title>
    <link rel="stylesheet" th:href="@{/css/fonts.css}">
    <link rel="stylesheet" th:href="${@environment.getProperty('prilla.css.uri')}" />
    <script th:if="${#strings.equals(page, 'Charts')}" th:src="${@environment.getProperty('prilla.js.uri')}" async></script>
  </head>
</html>
