<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <nav th:fragment="nav(page)">
      <ul>
        <li class="nav-header">
            <a th:href="@{/}">
              <svg viewBox="0 0 4.2333333 4.2333333">
                <circle id="outer" cx="2.1166666" cy="2.1166666" r="1.3937871" />
                <circle id="inner" cx="2.1166666" cy="2.1166666" r="0.96265811" />
              </svg>
              <span>Prilla</span>
            </a>
        </li>
        <li>
          <a
            th:href="@{/}"
            th:classappend="${#strings.equals(page, 'index') ? 'active' : ''}"
            >List</a
          >
        </li>
        <li>
          <a
            th:href="@{/record}"
            th:classappend="${#strings.equals(page, 'record') ? 'active' : ''}"
            >Record</a
          >
        </li>
        <li>
          <a
            th:href="@{/charts}"
            th:classappend="${#strings.equals(page, 'charts') ? 'active' : ''}"
            >Charts</a
          >
        </li>
        <li>
          <a
            th:href="@{/backup-restore}"
            th:classappend="${#strings.equals(page, 'backup-restore') ? 'active' : ''}"
          >
            Backup & Restore
          </a>
        </li>
        <li>
          <a th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </nav>

  </body>
</html>
