@use 'navbar';
@use 'sidebar';
@use 'chart';
@use 'table';
@use 'form';
@use 'footer';

@use '../breakpoints';

main {
  width: 95%;
  margin: 1rem auto;
  padding: 1rem;
}

h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: x-large;
}

@include breakpoints.medium {
  main {
    width: 80%;
  }
}

@include breakpoints.extra-large {
  main {
    width: 60%;
  }
}
