@use '../browser';

li > fieldset {
  padding: 0.5rem;
}

button {
  padding: 0.25rem;
  width: 4rem;
}

#chart-area svg {
  width: 100%;
}

@include browser.not-ie11 {
  #chart-area svg {
    height: 100%;
  }
}
