@use '../breakpoints';

form {
  padding: 1rem;
}

.field > label {
  display: inline-block;
  width: 5.5rem;
  text-align: right;
}

.field {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type="number"] {
  width: 4rem;
}

input[type="submit"] {
  display: block;
  padding: 0.4rem;
  min-width: 6rem;
}

button {
  padding: 0.25rem;
}

fieldset {
  padding: 0.5rem;
}

@supports selector(::-webkit-file-upload-button) {
  input[type="file"]::-webkit-file-upload-button {
    padding: 0.4rem;
    margin: 0.2rem;
  }
}

@supports (not selector(::-webkit-file-upload-button)) and (selector(::file-selector-button)) {
  input[type="file"]::file-selector-button {
    padding: 0.4rem;
    margin: 0.2rem;
  }
}

@include breakpoints.small {
  .field {
    display: inline-block;
  }
}
