@use '../breakpoints';

nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > ul > li {
  text-align: center;
  height: 1.5rem;
  line-height: 1.5rem;
}

nav > ul > li > a {
  display: inline-block;
  height: 100%;
  padding: 0 1rem;
}

.nav-header {
  height: 2.5rem;
  line-height: 2.5rem;
}

.nav-header > a {
  display: flex;
  align-items: center;
}

.nav-header > a > span {
  margin-left: 0.25rem;
}

.nav-header > a > svg {
  width: 3rem;
  height: 3rem;
}

@include breakpoints.medium {
  nav > ul {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-header {
    height: 3rem;
    line-height: 3rem;
  }

  nav > ul > li {
    height: 3rem;
    line-height: 3rem;
  }
}

@include breakpoints.large {
  nav > ul {
    justify-content: start;
  }

  nav > ul > li:last-child {
    margin-left: auto;
  }
}
