@use '../breakpoints';

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

th,
td {
  padding: 1em;
}

td form input[type="submit"] {
  display: block;
  padding: 0;
  min-width: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@include breakpoints.table {
  thead {
    display: none;
  }

  tbody {
    display: table;
    width: 100%;
  }

  tr {
    display: table-row-group;
  }

  td {
    display: table-row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  td::before {
    content: attr(data-label);
  }

  td form input[type="submit"] {
    display: inline;
  }

  td::before,
  td > span {
    display: table-cell;
    padding: 10px;
  }
}
