@use '../breakpoints';

table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

th,
td {
  padding: 1em;
}

@include breakpoints.table {
  thead {
    display: none;
  }

  tbody {
    display: table;
    width: 100%;
  }

  tr {
    display: table-row-group;
  }

  td {
    display: table-row;
  }

  td::before {
    content: attr(data-label);
  }

  td::before,
  td > span {
    display: table-cell;
    padding: 10px;
  }
}
