<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="nav(page)">
        <a class="nav-header" th:href="@{/}">Trabacco</a>
        <a class="nav-link" th:href="@{/}" th:classappend="${#strings.equals(page, 'index') ? 'active' : ''}">Home</a>
        <a class="nav-link" th:href="@{/record}" th:classappend="${#strings.equals(page, 'record') ? 'active' : ''}">
            Record
        </a>
        <a class="nav-link" th:href="@{/charts}" th:classappend="${#strings.equals(page, 'charts') ? 'active' : ''}">
            Charts
        </a>
        <a class="nav-link" th:href="@{/backup-restore}"
           th:classappend="${#strings.equals(page, 'backup-restore') ? 'active' : ''}"
        >
            Backup & Restore
        </a>
    </nav>
</body>
</html>