main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar-wrapper > .sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar-wrapper > .content {
    flex: 4;
}

h1 {
    text-align: center;
}

.chart-and-buttons {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.chart-and-buttons > button {
    margin-left: 20%;
    margin-right: 20%;
}

.chart-and-buttons > button:last-child {
    float: right;
}

table {
    width: 100%;
}

th, td {
    padding: 1em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

th {
    font-weight: bold;
}

tr:nth-of-type(even) {
    background: #f0f0f0;
}

td:last-child,
th:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}