main {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar-wrapper > .sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar-wrapper > .content {
    flex: 4;
}

h1 {
    text-align: center;
}

.chart-and-buttons {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.chart-and-buttons > button {
    margin-left: 20%;
    margin-right: 20%;
}

.chart-and-buttons > button:last-child {
    float: right;
}

table {
    width: 100%;
}

th, td {
    padding: 1em;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

th {
    font-weight: bold;
}

tr:nth-of-type(even) {
    background: #f0f0f0;
}

td:last-child,
th:last-child {
    border-right: none;
}

tr:last-child td {
    border-bottom: none;
}

nav > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

nav > ul > li {
    text-align: center;
    width: 60vw;
    height: 1.5rem;
    line-height: 1.5rem;
}

nav > ul > li > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nav-header {
    font-size: large;
    height: 2rem;
    line-height: 2rem;
}

@media(min-width: 726px) {
    nav > ul {
        flex-direction: row;
    }

    nav > ul > li {
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
    }

    .nav-header {
        font-size: large;
        height: 2.5rem;
        line-height: 2.5rem;
    }
}

@media(min-width: 970px) {
    nav > ul > li {
        width: 10rem;
    }

    nav > ul > li:last-child {
        margin-left: auto;
    }
}