<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Charts')"></head>
<body>
    <nav th:replace="fragments/nav.html :: nav(page='charts')"></nav>

    <main class="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-item">
                <fieldset>
                    <legend>Time span</legend>

                    <ul>
                        <li>
                            <input type="radio" name="timeSpan" value="1" id="spanWeek" checked />
                            <label for="spanWeek">Week</label>
                        </li>

                        <li>
                            <input type="radio" name="timeSpan" value="2" id="spanMonth" />
                            <label for="spanMonth">Month</label>
                        </li>

                        <li>
                            <input type="radio" name="timeSpan" value="3" id="spanYear" />
                            <label for="spanYear">Year</label>
                        </li>
                    </ul>
                </fieldset>
            </li>

            <li class="sidebar-item">
                <fieldset>
                    <legend>What to chart?</legend>

                    <ul>
                        <li>
                            <input type="radio" name="chartType" value="1" id="chartTypeAmount" checked />
                            <label for="chartTypeAmount">Amount</label>
                        </li>

                        <li>
                            <input type="radio" name="chartType" value="2" id="chartTypeDuration" />
                            <label for="chartTypeDuration">Duration</label>
                        </li>
                    </ul>
                </fieldset>
            </li>
        </ul>

        <div class="content">
            <h1>Charts</h1>
            <div class="chart-and-buttons">
                <div id="chart-area"></div>
                <button id="prevBtn">&lt;&lt;</button>
                <button id="nextBtn">&gt;&gt;</button>
            </div>
        </div>
    </main>
</body>
</html>