<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Trabacco</title>
</head>
<body>
    <nav th:replace="fragments/nav.html :: nav(page='index')"></nav>
    <h1>Trabacco</h1>

    <div>
        <button id="rangeWeekBtn">Week</button>
        <button id="rangeMonthBtn">Month</button>
        <button id="rangeYearBtn">Year</button>
    </div>

    <div>
        <button id="previousBtn">&lt;&lt;</button>
        <button id="nextBtn">&gt;&gt;</button>
    </div>

    <div id="chart-area"></div>

    <table>
        <thead>
            <tr>
                <th>Applied at</th>
                <th>Removed at</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${entries}">
                <td th:text="${entry.appliedAt()}"></td>
                <td th:text="${entry.removedAt()}"></td>
                <td th:text="${entry.amount()}"></td>
            </tr>
        </tbody>
    </table>

    <script src="webjars/d3js/d3.min.js"></script>
    <script src="webjars/momentjs/moment.js"></script>
    <script th:src="@{/js/bar-chart.js}"></script>
</body>
</html>