<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Record - Trabacco</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/record}">Record</a></li>
        </ul>
    </nav>

    <h1>Record</h1>

    <!--suppress ThymeleafVariablesResolveInspection -->
    <p th:if="${message != null}" th:text="${message}"></p>

    <form th:action="@{/record}" method="post">
        <label for="date">Date: </label>
        <input type="date" id="date" name="date" required />

        <label for="inserted">Inserted at: </label>
        <input type="time" id="inserted" name="inserted" required />

        <label for="removed">Removed at</label>
        <input type="time" id="removed" name="removed" required />

        <label for="amount">Amount: </label>
        <input type="number" id="amount" name="amount" value="1" required />

        <input type="submit" value="Add" />
    </form>
</body>
</html>