<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Record')"></head>
<body>
    <nav th:replace="fragments/nav.html :: nav(page='record')"></nav>

    <h1>Record</h1>

    <p th:if="${message != null}" th:text="${message}"></p>

    <form th:action="@{/record}" method="post" th:object="${recordForm}">
        <fieldset>
            <legend>Applied at</legend>

            <label for="appliedDate">Date</label>
            <input type="date" id="appliedDate" name="appliedDate" required th:field="*{appliedDate}" />

            <ul th:if='${#fields.hasErrors("appliedDate")}'>
                <li th:each='err : ${#fields.errors("appliedDate")}' th:text="${err}"></li>
            </ul>

            <label for="appliedTime">Time</label>
            <input type="time" id="appliedTime" name="appliedTime" required th:field="*{appliedTime}" />
        </fieldset>

        <fieldset>
            <legend>Removed at</legend>

            <label for="removedDate">Date</label>
            <input type="date" id="removedDate" name="removedDate" required th:field="*{removedDate}" />

            <ul th:if='${#fields.hasErrors("removedDate")}'>
                <li th:each='err : ${#fields.errors("removedDate")}' th:text="${err}"></li>
            </ul>

            <label for="removedTime">Time</label>
            <input type="time" id="removedTime" name="removedTime" required th:field="*{removedTime}" />

            <ul th:if='${#fields.hasErrors("removedTime")}'>
                <li th:each='err : ${#fields.errors("removedTime")}' th:text="${err}"></li>
            </ul>
        </fieldset>

        <label for="amount">Amount: </label>
        <input type="number" id="amount" name="amount" value="1" required th:field="*{amount}" />

        <ul th:if='${#fields.hasErrors("amount")}'>
            <li th:each='err : ${#fields.errors("amount")}' th:text="${err}"></li>
        </ul>

        <input type="submit" value="Add" />
    </form>
</body>
</html>