<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Record - Trabacco</title>
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/record}">Record</a></li>
        </ul>
    </nav>

    <h1>Record</h1>

    <!--suppress ThymeleafVariablesResolveInspection -->
    <p th:if="${message != null}" th:text="${message}"></p>

    <form th:action="@{/record}" method="post">
        <fieldset>
            <legend>Inserted</legend>

            <label for="insertedDate">Date</label>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <input type="date" id="insertedDate" name="insertedDate" required
                   th:value='${insertedDate != null ? insertedDate : ""}' />

            <label for="insertedTime">Time</label>
            <input type="time" id="insertedTime" name="insertedTime" required />
        </fieldset>

        <fieldset>
            <legend>Removed</legend>

            <label for="removedDate">Date</label>
            <!--suppress ThymeleafVariablesResolveInspection -->
            <input type="date" id="removedDate" name="removedDate" required
                   th:value='${removedDate != null ? removedDate : ""}' />

            <label for="removedTime">Time</label>
            <input type="time" id="removedTime" name="removedTime" required />
        </fieldset>

        <label for="amount">Amount: </label>
        <input type="number" id="amount" name="amount" value="1" required />

        <input type="submit" value="Add" />
    </form>
</body>
</html>