@use 'navbar';
@use 'form';
@use 'table';
@use 'chart';
@use 'footer';
@use 'fonts';

@use 'colors';

body {
  background-color: colors.$main-bg;
}

.flash {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: colors.$secondary;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
}