@use 'colors';

legend {
  font-weight: bold;
  font-size: large;
}

.field > label {
  text-align: right;
}

.field > label::after {
  content: ":";
}

@mixin button {
  transition: all 0.2s ease-in-out;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 150);
  background-color: colors.$primary;
  color: colors.$contrast;
  border: 2px solid colors.$primary;
}

@mixin button-hover {
  background-color: colors.$contrast;
  color: colors.$primary;
}

@mixin button-active {
  box-shadow: none;
}

button,
input[type="submit"] {
  @include button;
}

button:hover,
input[type="submit"]:hover {
  @include button-hover;
}

button:active,
input[type="submit"]:active {
  @include button-active;
}

@supports selector(::-webkit-file-upload-button) {
  input[type="file"]::-webkit-file-upload-button {
    @include button;
  }

  input[type="file"]::-webkit-file-upload-button:hover {
    @include button-hover;
  }

  input[type="file"]::-webkit-file-upload-button:active {
    @include button-active;
  }
}

@supports (not selector(::-webkit-file-upload-button)) and (selector(::file-selector-button)) {
  input[type="file"]::file-selector-button {
    @include button;
  }

  input[type="file"]::file-selector-button:hover {
    @include button-hover;
  }

  input[type="file"]::file-selector-button:active {
    @include button-active;
  }
}