@use '../breakpoints';
@use 'colors';

th,
td {
  border-bottom: 1px solid colors.$table-border;
  border-right: 1px solid colors.$table-border;
}

tr:nth-of-type(even) {
  background: colors.$table-even-rows-bg;
}

th {
  font-weight: bold;
}

td:last-child,
th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

@include breakpoints.table {
  td {
    border: none;
  }

  td::before {
    font-weight: bold;
  }
}
